<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>823266683112-nf5mvp0e0qtl6m72f1cdv9p0kjjs2q7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.823266683112-nf5mvp0e0qtl6m72f1cdv9p0kjjs2q7v</string>
	<key>API_KEY</key>
	<string>AIzaSyA2uEglhDbXB7cxxLp19UakBmmulBcMp-M</string>
	<key>GCM_SENDER_ID</key>
	<string>823266683112</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>linnett.christopher.chatAppFirebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-4fcfd</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-4fcfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:823266683112:ios:5c6e7e1fcf8d7d8ab0815d</string>
</dict>
</plist>